@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* fonts */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* text */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-discount: var(--color-discount);

  /* background */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-button: var(--button);
  --color-destructive: var(--destructive);
  /* radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.97 0 0);
  --primary: oklch(0.05 0 0);
  --secondary: oklch(0.35 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0); /* 
  --ring: oklch(0.708 0 0); */
  --ring: oklch(37.9% 0.146 265.522);
  --button: oklch(21% 0.034 264.665);
  --color-discount: oklch(0.577 0.245 27.325);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.95 0 0);
  --secondary: oklch(0.8 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --color-discount: oklch(0.577 0.245 27.325);
  --button: oklch(0.97 0 0);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-primary;
  }
  h1,
  h1,
  h3,
  h4 {
    @apply font-sans font-bold;
  }
  h1 {
    @apply font-bold text-2xl;
  }
  h2 {
    @apply font-bold text-2xl;
  }
  h3 {
    @apply font-sans font-bold text-xl;
  }
  p {
    @apply font-mono text-primary;
  }
}

/* needed to display subgrid on product cards */
div > .productCard {
  grid-template-rows: auto auto 1fr auto;
}
/* needed to display subgrid on bar chart*/
div > .barChart {
  grid-template-columns: 8px 32px 1fr 8px;
}
